In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

|Data Science Tools|
|--------|
|Git|
|Visual Studio|
|Anaconda|

|Data Science Tools|
|--------|
|Git|
|Visual Studio|
|Anaconda|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [3]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

<b>Objectives:</b>
<ul> List popular languages for Data Science

<b>Objectives:<b>
    <ul> List popular languages for Data Science
        <ul> Languages of Data Science 
            <ul> Tools of Data Science

## Author
# RKG

## Author
RKG

## Ordered List
<ol> Python
<ol> R
<ol> SQL
<ol> Scala
<ol> Java

# Ordered List:
1. Python
2. R

# Ordered List
1. Python
1. R
1. SQL
1. Scala
1. Java